@import url(hover-active.css);

@font-face {
  font-family: "PT Astra Sans";
  src: local("PT Astra Sans"), local("PTAstraSans-Regular"),
    url("../fonts/Ptastrasans.woff2") format("woff2"),
    url("../fonts/Ptastrasans.woff") format("woff"),
    url("../fonts/Ptastrasans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Astra Sans";
  src: local("PT Astra Sans"), local("PTAstraSans-Regular"),
    url("../fonts/Ptastrasansbold.woff2") format("woff2"),
    url("../fonts/Ptastrasansbold.woff") format("woff"),
    url("../fonts/Ptastrasansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

*,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #f6f6f6;
}
.center {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.page-content-new-book-heading,
.page-content-best-book-heading,
.reviews-heading,
.about-us-heading {
  font-family: "Podkova", serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
  color: #37393e;
  margin: 0 0 40px 0;
}
/* ------------- Page-header -------------- */
.page-header__information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
}
.page-header__information-logo-wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 485px;
  width: 100%;
  margin: 0 5px 0 0;
}
.page-header__information-logo {
  max-width: 230px;
  width: 100%;
  height: 35px;
  margin: 0 10px 0 0;
}
.page-header__information-logo-link {
  display: block;
}
.page-header__information-logo-link > svg {
  fill: #37393e;
}

.page-header__information-logo-link > svg rect {
  fill: #3971ff;
}
.page-header__information-address {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #37393e;
  max-width: 218px;
  width: 100%;
  cursor: pointer;
}
.page-header__information-search {
  position: relative;
  max-width: 411px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.page-header__information-form {
  position: relative;
  max-width: 367px;
  width: 100%;
  margin: 0 5px 0 0;
}
.page-header__information-input {
  padding: 6px 11px;
  max-width: 367px;
  width: 100%;
  margin-right: 10px;
  font-family: "PT Astra Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #696969;
  box-sizing: border-box;
}

.page-header__information-form > svg {
  top: 4px;
  right: 5px;
  position: absolute;
  fill: none;
}
.page-header__information-input::placeholder {
  font-family: "PT Astra Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #bfbfbf;
}
.page-header__information-basket {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #3971ff;
  max-width: 34px;
  width: 100%;
  min-height: 34px;
  border: none;
  border-radius: 2px;
}
.page-header__information-basket > svg {
  fill: none;
}
.page-header-menu {
  background-color: #3971ff;
  margin: 0 0 50px 0;
  padding: 8px 0;
}
.page-header-menu__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-header-menu__nav {
  position: relative;
}
.page-header-menu__nav,
.page-header-menu__list {
  max-width: 397px;
  width: 100%;
}
.page-header-menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header-menu__item {
  line-height: 18px;
}
.page-header-menu__link {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.page-header-menu__mobile-list {
  display: none;
  height: 24px;
  max-width: 85px;
  width: 100%;
  padding: 0 13px 0 4px;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  appearance: none;
  color: #fff;
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
  box-sizing: border-box;
}
.page-header-menu__mobile-link {
  color: #3971ff;
}
.page-header-menu__nav::after {
  display: none;
  content: "";
  position: absolute;
  background-image: url(../img/mark-select.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 9px;
  height: 4px;
  top: 11px;
  right: 5px;
  pointer-events: none;
}
.page-header-menu__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 169px;
  width: 100%;
}
.page-header-menu__registred-button,
.page-header-menu__entrance-button {
  font-family: "PT Astra Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 0 10px 2px 10px;
  width: 100%;
}
.page-header-menu__registred-button {
  color: #ffffff;
  background-color: #3971ff;
  max-width: 105px;
}
.page-header-menu__entrance-button {
  color: #3971ff;
  background-color: #ffffff;
  max-width: 55px;
}
/* ------------- Page-header END -------------- */

/* ------------- Page-content -------------- */
/* ------------- Page-content-promo -------------- */
.page-content-promo {
  margin-bottom: 70px;
}
.page-content-promo-photo {
  height: 450px;
}
.carousel-inner {
  border-radius: 6px;
}
.page-slide-item {
  position: relative;
  padding: 21px 0 32px 35px;
  background-color: #ff7d02;
  height: 450px;
  box-sizing: border-box;
}
.page-slide-item-color {
  background-color: #fd8d5a;
}
.slide-item-heading {
  position: absolute;
  z-index: 1;
  top: 22px;
  left: 35px;
  font-family: "Podkova", serif;
  max-width: 495px;
  width: 100%;
  min-height: 168px;
  font-weight: 600;
  font-size: 64px;
  line-height: 56px;
  color: #ffffff;
}
.slide-item-txt {
  position: absolute;
  z-index: 1;
  top: 225px;
  left: 35px;
  font-family: "PT Astra Sans";
  max-width: 395px;
  width: 100%;
  min-height: 84px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.slide-item-btn {
  position: absolute;
  z-index: 1;
  bottom: 32px;
  left: 35px;
  padding: 10px 24px 11px;
  font-family: "PT Astra Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
  background: #3971ff;
  border-radius: 2px;
  border: none;
}
.slide-image-book {
  width: 300px;
  height: 504px;
  background: #fe872e;
  border-radius: 2px;
  transform: rotate(-48.44deg);
  position: absolute;
  top: 44px;
  right: 158px;
  bottom: 0;
}
.slide-logo-image-book {
  width: 355px;
  height: 547px;
  position: absolute;
  top: 62px;
  right: 34px;
  filter: drop-shadow(-1px 1px 5px #f37702);
  background-image: url(../img/book-logo-slide.png);
  transform: rotate(-27.28deg);
  background-repeat: no-repeat;
  background-size: contain;
}
.image-book-color {
  background-color: #ff9364;
}
.image-book-photo {
  filter: none;
  background-image: url(../img/book-logo-slide2.png);
}
.image-book-photo2 {
  filter: none;
  background-image: url(../img/book-logo-slide3.png);
}
.carousel-indicators {
  bottom: 5px;
  align-items: center;
}
.carousel-indicators [data-bs-target] {
  background-color: transparent;
  width: 8px;
  height: 8px;
  opacity: 1;
  border: 0;
  margin: 0 4px 0 0;
}
.carousel-indicators [data-bs-target]:last-child {
  margin: 0;
}
.carousel-indicators .active {
  background-image: url(../img/crug-active.svg);
  width: 12px;
  height: 12px;
}
.page-slide-indicator {
  box-sizing: border-box;
  background-image: url(../img/crug.svg);
}
.carousel-control-prev-icon {
  background-image: url(../img/Slider-prev.svg);
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50px;
  background-size: auto !important;
  background-position: center !important;
}
.carousel-control-next-icon {
  background-image: url(../img/Slider-next.svg);
}
.page-content__carousel-control-next,
.page-content__carousel-control-prev {
  position: absolute;
  filter: drop-shadow(0px 0px 15px rgba(57, 113, 255, 0.3));
  opacity: 1;
  top: 201px;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 25px;
}

.page-content__carousel-control-next {
  right: -13px;
}
.page-content__carousel-control-prev {
  left: -15px;
}
/* ------------- Page-content-promo END-------------- */
/* ------------- Page-content-new-book -------------- */
.page-content-new-book-list,
.page-content-best-book-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 0 70px 0;
}
.page-content-new-book-item,
.page-content-best-book-item {
  position: relative;
  background-color: #ffffff;
  min-height: 515px;
  height: 100%;
}
.book-item-reating-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: absolute;
  background-color: #3971ff;
  height: 18px;
  left: 6px;
  width: 39px;
  top: 6px;
}
.book-item-reating-top > svg {
  fill: #fff;
}
.book-item-reating-top > span {
  color: #fff;
  font-size: 14px;
  font-family: "PT Astra Sans";
  font-weight: 400;
  line-height: 15px;
}
.page-content-new-book-img,
.page-content-best-book-img {
  max-width: 275px;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  display: block;
  height: auto;
}
.card-book__position-wrp {
  max-width: 275px;
  width: 100%;
  min-height: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 17px 25px 14px;
}
.card-book__discription-wrp {
  margin: 0 0 15px;
}
.page-content-new-book-author,
.page-content-best-book-author {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #bfbfbf;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.page-content-new-book-name,
.page-content-best-book-name {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3971ff;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 0 5px;
}
.page-content-new-book-txt,
.page-content-best-book-txt {
  max-width: 243px;
  width: 100%;
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #37393e;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.card-book__btn-wrp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 178px;
  width: 100%;
}
.page-content-book-btn {
  border: none;
  padding: 1px 10px 3px;
  background: #3971ff;
  border-radius: 2px;
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
.page-content-new-book-count,
.page-content-best-book-count {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #bfbfbf;
}
/* ------------- Page-content-new-book END-------------- */
/* ------------- Page-content-best-book -------------- */

/* ------------- Page-content-best-book END-------------- */
/* ------------- Reviews -------------- */
.reviews__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 0 70px;
}
.reviews-list-item {
  padding: 20px 25px 21px 20px;
  background-color: #ffffff;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.04));
}
.reviews-item-card-wrp {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.reviews-item-img {
  margin: 0 15px 10px 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.reviews-card-txt-wrp {
  margin: 0 1px 9px;
}
.reviews-card-name {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #3971ff;
}
.reviews-item-buy {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #bfbfbf;
}
.reviews-item-description {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #37393e;
}
/* ------------- Reviews END-------------- */
/* ------------- About-us -------------- */
.about-us-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 89px;
}
.about-us-item {
  border-radius: 4px;
  max-width: 590px;
  width: 100%;
  background-color: #ffffff;
}
.about-us-item-block {
  padding: 16px 80px 21px 20px;
}
.about-us-block-heading {
  margin: 0 0 12px;
  max-width: 318px;
  width: 100%;
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #3971ff;
}
.about-us-block-txt {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #37393e;
}
/* ------------- About-us END-------------- */
/* ------------- Page-footer -------------- */
.page-footer {
  background-color: #37393e;
}
.page-footer-wrp {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 46px;
  box-sizing: border-box;
}
.page-footer-social-network {
  max-width: 230px;
  width: 100%;
  margin: 0 40px 0 0;
}
.page-footer-logo {
  max-width: 230px;
  width: 100%;
  height: 35px;
  margin: 10px 0 20px;
}
.page-footer-logo-link {
  display: block;
}
.page-footer-logo-link > svg {
  fill: #ffffff;
}
.page-footer-logo-link > svg rect {
  fill: #3971ff;
}

.page-footer-logo-svg-wrp {
  width: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-footer-logo-wrp-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}
.page-footer-logo-wrp-link > svg {
  fill: #ffffff;
}

.page-footer-link {
  max-width: 764px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.page-footer-link-menu {
  max-width: 126px;
  width: 100%;
}
.page-footer-heading {
  margin: 0 0 4px;
  font-family: "Podkova", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: #4a4c51;
}
.page-footer-menu-item,
.page-footer-interesting-item,
.page-footer-important-item {
  display: flex;
  align-items: center;
  min-height: 24px;
}
.page-footer-link-interesting {
  max-width: 127px;
  width: 100%;
}
.page-footer-link-important {
  max-width: 100px;
  width: 100%;
}
.page-footer-important-item {
  margin: 0 7px 0 0;
}
.page-footer-link-address {
  /* position: relative; */
  max-width: 218px;
  width: 100%;
  min-height: 98px;
}
.page-footer-address-heading {
  margin: 0 0 8px;
}
.page-footer-address-txt {
  width: 218px;
  margin: 0 0 3px;
}
.map-footer {
  position: absolute;
  display: none;
  bottom: 200px;
  right: 20vh;
  max-width: 500px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 100px rgb(8, 84, 85);
}
.close-footer-svg {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.page-footer-style-txt {
  font-family: "PT Astra Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  cursor: pointer;
}

/* ------------- Page-footer END-------------- */
/* ------------- Copyright -------------- */
.copyright {
  background-color: #222225;
}
.copyright-wrp {
  text-align: center;
  padding: 13px 0 13px 0;
}
.copyright-txt {
  font-family: "Golos Text", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #4a4c51;
}
.search-match {
  transform: scale(1.035);
  box-shadow: 0 0 35px rgb(87, 87, 87);
  border: 1px solid black;
}

@media (max-width: 1024px) {
  .page-content-new-book-heading,
  .page-content-best-book-heading,
  .reviews-heading,
  .about-us-heading {
    text-align: center;
  }
  .page-footer-wrp {
    align-items: center;
  }
  .page-footer-link {
    flex-wrap: wrap;
    gap: 64px;
    justify-content: center;
  }
}
@media (max-width: 950px) {
  .page-header__information-address {
    display: none;
  }
  .slide-logo-image-book {
    opacity: 0.4;
  }
}
@media (max-width: 799px) {
  .page-footer-link {
    max-width: 400px;
    justify-content: flex-start;
  }
}

@media (max-width: 699px) {
  .page-header__information {
    flex-direction: column;
    align-items: flex-start;
  }
  .page-header__information-logo-wrp {
    margin: 0 0 30px;
  }
  .page-header__information-form {
    max-width: 600px;
  }
  .page-header__information-input {
    max-width: 600px;
  }
  .page-header__information-search {
    max-width: 699px;
  }
  .page-header-menu__nav {
    max-width: 100px;
  }
  .page-header-menu__nav::after {
    display: block;
  }
  .page-header-menu__list {
    display: none;
  }
  .page-header-menu__mobile-list {
    display: block;
  }
  .page-content-promo {
    display: none;
  }
  .page-footer-link {
    max-width: 218px;
    flex-direction: column;
    justify-content: center;
  }
  .page-footer-link-address {
    padding: 0;
  }
  .page-footer-logo-link svg {
    width: 200px;
  }
  .page-footer-wrp {
    flex-direction: column;
  }
  .page-footer-social-network {
    margin: 0 0 40px;
  }
  .page-footer-link-address {
    /* padding: 0 0 0 30px; */
  }
  .map-footer,
  .map-footer > iframe {
    max-width: 250px;
    height: 280px;
    right: 5%;
    left: 5%;
  }
}
